<div class="cell">
  @if(store.userIdToEdit() === user.id && store.userFieldToEdit() === field) {
  <div class="cell-edit">
    <div class="cell-field">
      <input
        #input
        class="cell-input"
        type="text"
        [mask]="mask ?? ''"
        [formControl]="control"
        [value]="user[field]"
      />
      <ul-input-validation
        [control]="control"
        [isShowAlways]="true"
      ></ul-input-validation>
    </div>

    <div class="cell-control">
      <button
        class="btn btn-icon"
        (click)="onSubmit()"
        [disabled]="isSubmitDisabled()"
        [ngClass]="{
          'btn-disabled': isSubmitDisabled(),
          'btn-submit': !isSubmitDisabled()
        }"
      >
        <ul-icon iconName="CHECKMARK" fill="white"></ul-icon>
      </button>

      <button class="btn btn-icon btn-danger" (click)="onCancel()">
        <ul-icon iconName="CLOSE" fill="white"></ul-icon>
      </button>
    </div>
  </div>
  } @else {
  <div class="cell-value" (click)="onEdit()">{{ user[field] }}</div>
  }
</div>
